body {
    background-color:lightgrey;
    color:black;
    font-size:1.5em;
}
h1, h2, h3, h4, h5, h6{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
p {
    margin-left:auto;
    margin-right:auto;
    max-width: 60em;
 }
#infodisplay{
    margin:auto;
    width:70%;
}
#scoremessage{
    margin:auto;
    width:70%;
    max-width: 60em;
    text-align:center;
}
 .demoimg{
     object-fit:cover;
     max-width:60em;
     height:auto;
     margin-left:auto;
     margin-right:auto;
     text-align:center;
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     z-index: -1;
 }
.optiondiv{
    position:relative;
    border:1px solid blue;
    display:block;
    float:left;
    width:250px;
    height:300px;
    margin:auto;
    padding:29px;
}
.choicebutton{
    position:absolute;
    bottom: 0;
}
.revealbutton{
    margin:auto;
}
.centered, trialdiv {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    max-width: 60em;
}
.feedbackpara{
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    top:50%;
    left:50%;
    max-width: 60em;
    transform: translate(-50%, -50%);
}

 button {
     font-size:1.2em;
     border-radius:.5em;
     background-color:darkgrey;
     padding:7px;
 }