body {
    background-color:lightgrey;
    color:black;
    font-size:1.5em;
}
h1, h2, h3, h4, h5, h6{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
p {
    margin-left:auto;
    margin-right:auto; 
 }
#infodisplay{
    margin:auto;
    width:70%;
}
#scoremessage{
    margin:auto;
    width:70%;
    text-align:center;
}
.optiondiv{
    position:relative;
    border:1px solid blue;
    display:block;
    float:left;
    width:250px;
    height:300px;
    margin:auto;
    padding:29px;
}
.choicebutton{
    position:absolute;
    bottom: 0;
}
.revealbutton{
    margin:auto;
}
.centered, trialdiv {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
 }

 button {
     font-size:1.2em;
     border-radius:.5em;
     background-color:darkgrey;
     padding:7px;
 }